shell=bash

disable=SC1090,SC1091
enable=quote-safe-variables
enable=check-unassigned-uppercase
enable=add-default-case
enable=avoid-nullary-conditions
enable=check-set-e-suppressed
enable=deprecate-which
enable=require-double-brackets
enable=require-variable-braces
