#===========================================================
#===========================================================
# Mohamed Ali Abuelwafa CSS Snippets
#===========================================================
#===========================================================
snippet bg
	background: ${0};
#-----------------------------------------------------------
snippet bgc
	background-color: ${0};
#-----------------------------------------------------------
snippet colo
	color: #${1};
#-----------------------------------------------------------
snippet fz
	font-size: ${1};
#-----------------------------------------------------------
snippet lh
	line-height: ${1};
#-----------------------------------------------------------
snippet m
	margin: ${1};
#-----------------------------------------------------------
snippet ml
	margin-left: ${1};
#-----------------------------------------------------------
snippet mr
	margin-right: ${1};
#-----------------------------------------------------------
snippet mt
	margin-top: ${1};
#-----------------------------------------------------------
snippet mb
	margin-bottom: ${1};
#-----------------------------------------------------------
snippet p
	padding: ${1};
#-----------------------------------------------------------
snippet pl
	padding-left: ${1};
#-----------------------------------------------------------
snippet pr
	padding-right: ${1};
#-----------------------------------------------------------
snippet pt
	padding-top: ${1};
#-----------------------------------------------------------
snippet pb
	padding-bottom: ${1};
#-----------------------------------------------------------
snippet border
	border: ${1:1}px solid ${0};
#-----------------------------------------------------------
snippet bl
	border-left: ${1:none};
#-----------------------------------------------------------
snippet br
	border-right: ${1:none};
#-----------------------------------------------------------
snippet bt
	border-top: ${1:none};
#-----------------------------------------------------------
snippet bb
	border-bottom: ${1:none};
#-----------------------------------------------------------
snippet t
	top: ${1};
#-----------------------------------------------------------
snippet b
	bottom: ${1};
#-----------------------------------------------------------
snippet l
	left: ${1};
#-----------------------------------------------------------
snippet r
	right: ${1};
#-----------------------------------------------------------
snippet w
	width: ${1};
#-----------------------------------------------------------
snippet h
	height: ${1};
#-----------------------------------------------------------
snippet ovh
	overflow: ${1:hidden};${0}
#-----------------------------------------------------------
snippet tshadow
	text-shadow: ${1:0}px ${2:0}px ${3:0}px #${4:000};
#-----------------------------------------------------------
snippet bradius
	border-radius: ${1:0}px;
#-----------------------------------------------------------
snippet bshadow
	box-shadow: ${1:0}px ${2:0}px ${3:0}px #${4:000};
#-----------------------------------------------------------
snippet transition
	transition: all .2s;
#-----------------------------------------------------------
snippet transform
	transform: ${1:translate};
#-----------------------------------------------------------
snippet fl
	float: left;
#-----------------------------------------------------------
snippet fn
	float: none;
#-----------------------------------------------------------
snippet fr
	float: right;
#-----------------------------------------------------------
snippet bold
	font-weight: ${1:bold};
#-----------------------------------------------------------
snippet italic
	font-style: italic;
#-----------------------------------------------------------
snippet ff
	font-family: ${0};
#-----------------------------------------------------------
snippet underline
	text-decoration: ${1:underline};
#-----------------------------------------------------------
snippet td
	text-decoration: ${1:none};
#-----------------------------------------------------------
snippet tal
	text-align: left;
#-----------------------------------------------------------
snippet tar
	text-align: right;
#-----------------------------------------------------------
snippet tac
	text-align: center;
#-----------------------------------------------------------
snippet media
	@media (${1:max}-width: ${0}){
	}
#-----------------------------------------------------------
snippet hover
	&:hover{
		${0}
	}
#-----------------------------------------------------------
snippet before
	&:before{
		${0}
	}
#-----------------------------------------------------------
snippet after
	&:after{
		${0}
	}
#-----------------------------------------------------------
snippet first
	&:first-child{
		${0}
	}
#-----------------------------------------------------------
snippet last
	&:last-child{
		${0}
	}
#-----------------------------------------------------------
snippet df
	display: flex;
#-----------------------------------------------------------
snippet fd
	flex-direction: row; /* defines main axis for laying out items [row (default), row-reverse, column, column-reverse] */
#-----------------------------------------------------------
snippet fw
	flex-wrap: nowrap; /* [nowrap (default), wrap, wrap-reverse] */
#-----------------------------------------------------------
snippet jc
	justify-content: center; /* aligns content along the main axis [flex-start (default), flex-end, center, space-between, space-around] */
#-----------------------------------------------------------
snippet ai
	align-items: center; /* aligns content along the secondary axis [flex-start (default), flex-end, center, baseline, stretch] */
#-----------------------------------------------------------
snippet db
	display: block;
#-----------------------------------------------------------
snippet dib
	display: inline-block;
#-----------------------------------------------------------
snippet di
	display: inline;
#-----------------------------------------------------------
snippet dn
	display: none;
#-----------------------------------------------------------
snippet poss
	position: static;
#-----------------------------------------------------------
snippet posr
	position: relative;
#-----------------------------------------------------------
snippet posa
	position: absolute;
#-----------------------------------------------------------
snippet posf
	position: fixed;
#-----------------------------------------------------------
snippet z
	z-index: ${1};
#-----------------------------------------------------------
snippet mah
	max-height: ${1};
#-----------------------------------------------------------
snippet miw
	min-width: ${1};
#-----------------------------------------------------------
snippet mih
	min-height: ${1};
#-----------------------------------------------------------
snippet maw
	max-width: ${1};
#-----------------------------------------------------------
snippet cb
	clear: ${1:both};${0}
#-----------------------------------------------------------
snippet ucase
	text-transform: ${0:uppercase};
#-----------------------------------------------------------
snippet sep
	/*---------------------------------------------------*/
	/*---------------------------------------------------*/
#-----------------------------------------------------------
snippet ls
	list-style: ${1};
#-----------------------------------------------------------
snippet inc
	@include ${1};
#-----------------------------------------------------------
