#===========================================================
#===========================================================
# Mohamed Ali Abuelwafa Python Snippets
#===========================================================
#===========================================================
#-----------------------------------------------------------
# new python file
snippet shebang
	#!/usr/bin/python3
#-----------------------------------------------------------
snippet fun
	def ${0}():
#-----------------------------------------------------------
snippet class
	class ${0}()
#-----------------------------------------------------------
